In [3]:
import modules as m
import pandas as pd

vectorized_df = m.load_pickle('../data/vectorized/vectorized_df_1.pickle')
vectorized_df.shape

(10173, 3488)

In [11]:
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import cosine_similarity

# 데이터가 워낙 많고 희소행렬이기 때문에 csr로 바꿔서 유사도를 계산
csr_vec = csr_matrix(vectorized_df.values)

cosine_sim = cosine_similarity(csr_vec)
cosine_sim_df = pd.DataFrame(cosine_sim, index=vectorized_df.index, columns=vectorized_df.index)
cosine_sim_df

id,tt10002448,tt0302617,tt10003824,tt10004158,tt10004144,tt10004148,tt10004154,tt10004704,tt10004696,tt10001184,...,tt9913028,tt9913022,tt9913036,tt9906260,tt9913038,tt9913328,tt9913374,tt9914644,tt9916200,tt9916204
id,,,,,,,,,,,,,,,,,,,,,
tt10002448,1.000000,0.028477,0.105134,0.079926,0.022339,0.004161,0.008501,0.010059,0.020862,0.147337,...,0.087507,0.013767,0.080375,0.142691,0.014004,0.027319,0.114688,0.018024,0.020856,0.009559
tt0302617,0.028477,1.000000,0.061098,0.053651,0.003055,0.046769,0.025772,0.048377,0.041183,0.065096,...,0.028726,0.014203,0.032820,0.064589,0.000000,0.034374,0.045847,0.057006,0.024986,0.038309
tt10003824,0.105134,0.061098,1.000000,0.149630,0.004686,0.072374,0.079276,0.035632,0.042246,0.217405,...,0.061927,0.023104,0.088602,0.141101,0.054743,0.076567,0.122787,0.063959,0.048970,0.045458
tt10004158,0.079926,0.053651,0.149630,1.000000,0.134329,0.131849,0.103020,0.031960,0.032368,0.199604,...,0.013196,0.011830,0.060578,0.122132,0.007446,0.041220,0.107990,0.051429,0.043543,0.059889
tt10004144,0.022339,0.003055,0.004686,0.134329,1.000000,0.321130,0.000000,0.222679,0.000000,0.041399,...,0.000000,0.000000,0.000000,0.002489,0.000000,0.018629,0.000000,0.000000,0.010158,0.004026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9913328,0.027319,0.034374,0.076567,0.041220,0.018629,0.000000,0.021753,0.010619,0.028288,0.146498,...,0.010932,0.000000,0.089484,0.087415,0.023357,1.000000,0.105895,0.008923,0.012294,0.010366
tt9913374,0.114688,0.045847,0.122787,0.107990,0.000000,0.022632,0.063308,0.049105,0.039317,0.211495,...,0.031925,0.000000,0.101732,0.145025,0.038476,0.105895,1.000000,0.055367,0.032710,0.015295
tt9914644,0.018024,0.057006,0.063959,0.051429,0.000000,0.022528,0.038813,0.004091,0.006152,0.087754,...,0.009225,0.000000,0.041275,0.065227,0.000000,0.008923,0.055367,1.000000,0.081386,0.022855
tt9916200,0.020856,0.024986,0.048970,0.043543,0.010158,0.005442,0.019759,0.000000,0.000000,0.061867,...,0.009187,0.000000,0.018923,0.026131,0.054979,0.012294,0.032710,0.081386,1.000000,0.051033
tt9916204,0.009559,0.038309,0.045458,0.059889,0.004026,0.004314,0.029653,0.000000,0.002797,0.055335,...,0.013156,0.000000,0.022561,0.025704,0.026841,0.010366,0.015295,0.022855,0.051033,1.000000

In [47]:
# m.save_result_to_pickle(
#   'C:/Users/Hi/Desktop/CB(movie)/data/similarity/cosine_sim_df_1.pickle', 
#   cosine_sim_df)

In [14]:
dp_title_id = 'tt13024974'

cosine_sim_df[dp_title_id].sort_values(ascending=False)[1:10]

id
tt20869502    0.390413
tt17080956    0.390237
tt7976532     0.374618
tt27300087    0.373047
tt16447750    0.372649
tt7094780     0.371932
tt27161773    0.368728
tt8243374     0.365405
tt19370256    0.364943
Name: tt13024974, dtype: float64

title id -> name . function 필요하다

In [20]:
title_basic_df = pd.read_csv(
  'C:/Users/Hi/Desktop/CB(movie)/data/IMDb_Non-Commercial_Datasets/title.basics.tsv.gz'
  , compression='gzip', sep='\t')
title_basic_df.set_index('tconst', inplace=True)

C:\Users\Hi\AppData\Local\Temp\ipykernel_16296\1684646020.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basic_df = pd.read_csv(

In [29]:
title_basic_df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [28]:
# tmp = title_basic_df.loc[:, ['primaryTitle','originalTitle']]
#
# m.save_result_to_pickle(
#   'C:/Users/Hi/Desktop/CB(movie)/data/IMDb_Non-Commercial_Datasets/title_basic.pickle'
#   , tmp)

# 필요한 것만 따로 저장해놓기

In [30]:
title_basic_df.loc[dp_title_id, 'originalTitle']

'D.P.'

생각보다 찾는데 너무 오래걸리는데?  
-> 파일이 너무 커서 불러오는데 오래걸림
-> 파일을 불러오는건 함수 밖에 놓기

In [58]:
import importlib 
importlib.reload(m)

df = m.load_title_basic_df()

In [46]:
dp_title_id = 'tt13024974'

candidate_series = cosine_sim_df[dp_title_id].sort_values(ascending=False)[1:10]

for title_id, sim in zip(candidate_series.index, candidate_series):
  title = m.find_title(df, title_id)
  url = f'https://www.imdb.com/title/{title_id}/?ref_=fn_al_tt_1'
  print(f"title: {title} / sim: {sim:.4f} / url: {url}")

title: Extraordinary Attorney Woo / sim: 0.3904 / url: https://www.imdb.com/title/tt20869502/?ref_=fn_al_tt_1
title: Semantic Error / sim: 0.3902 / url: https://www.imdb.com/title/tt17080956/?ref_=fn_al_tt_1
title: Live / sim: 0.3746 / url: https://www.imdb.com/title/tt7976532/?ref_=fn_al_tt_1
title: The Eighth Sense: The Series / sim: 0.3730 / url: https://www.imdb.com/title/tt27300087/?ref_=fn_al_tt_1
title: Maestro / sim: 0.3726 / url: https://www.imdb.com/title/tt16447750/?ref_=fn_al_tt_1
title: Mr. Sunshine / sim: 0.3719 / url: https://www.imdb.com/title/tt7094780/?ref_=fn_al_tt_1
title: The Eighth Sense / sim: 0.3687 / url: https://www.imdb.com/title/tt27161773/?ref_=fn_al_tt_1
title: Investigation Partners / sim: 0.3654 / url: https://www.imdb.com/title/tt8243374/?ref_=fn_al_tt_1
title: KinnPorsche the Series La 'forte / sim: 0.3649 / url: https://www.imdb.com/title/tt19370256/?ref_=fn_al_tt_1

In [55]:
def load_cosine_df():
  return m.load_pickle('C:/Users/Hi/Desktop/CB(movie)/data/similarity/cosine_sim_df_1.pickle')

def get_CB_recomm(df1:"pd.DataFrame", df2:"pd.DataFrame", title_id:str):
  """CB 기반 추천 알고리즘

  Args:
      df1 (pd.DataFrame): title_basic_df
      df2 (pd.DataFrame): cosine_df
      title_id (str): title id
  """
  print(f"about : {m.find_title(df1, title_id)}")

  candidate_series = df2[title_id].sort_values(ascending=False)[1:10]
  
  for title_id, sim in zip(candidate_series.index, candidate_series):
    title = m.find_title(df1, title_id)
    url = f'https://www.imdb.com/title/{title_id}/?ref_=fn_al_tt_1'
    print(f"title: {title} / sim: {sim:.4f} / url: {url}")

In [59]:
title_basic_df = m.load_title_basic_df()
cosine_df = m.load_cosine_df()

In [56]:
dp_title_id = 'tt13024974'

get_CB_recomm(title_basic_df, cosine_df, dp_title_id)

about : D.P.
title: Extraordinary Attorney Woo / sim: 0.3904 / url: https://www.imdb.com/title/tt20869502/?ref_=fn_al_tt_1
title: Semantic Error / sim: 0.3902 / url: https://www.imdb.com/title/tt17080956/?ref_=fn_al_tt_1
title: Live / sim: 0.3746 / url: https://www.imdb.com/title/tt7976532/?ref_=fn_al_tt_1
title: The Eighth Sense: The Series / sim: 0.3730 / url: https://www.imdb.com/title/tt27300087/?ref_=fn_al_tt_1
title: Maestro / sim: 0.3726 / url: https://www.imdb.com/title/tt16447750/?ref_=fn_al_tt_1
title: Mr. Sunshine / sim: 0.3719 / url: https://www.imdb.com/title/tt7094780/?ref_=fn_al_tt_1
title: The Eighth Sense / sim: 0.3687 / url: https://www.imdb.com/title/tt27161773/?ref_=fn_al_tt_1
title: Investigation Partners / sim: 0.3654 / url: https://www.imdb.com/title/tt8243374/?ref_=fn_al_tt_1
title: KinnPorsche the Series La 'forte / sim: 0.3649 / url: https://www.imdb.com/title/tt19370256/?ref_=fn_al_tt_1

In [60]:
get_CB_recomm(title_basic_df, cosine_df, 'tt20869502')

about : Extraordinary Attorney Woo
title: Investigation Partners / sim: 0.4951 / url: https://www.imdb.com/title/tt8243374/?ref_=fn_al_tt_1
title: Live / sim: 0.4829 / url: https://www.imdb.com/title/tt7976532/?ref_=fn_al_tt_1
title: Mr. Sunshine / sim: 0.4825 / url: https://www.imdb.com/title/tt7094780/?ref_=fn_al_tt_1
title: Something in the Rain / sim: 0.4820 / url: https://www.imdb.com/title/tt8078816/?ref_=fn_al_tt_1
title: Vincenzo / sim: 0.4708 / url: https://www.imdb.com/title/tt13433812/?ref_=fn_al_tt_1
title: Crash Landing on You / sim: 0.4706 / url: https://www.imdb.com/title/tt10850932/?ref_=fn_al_tt_1
title: The Crowned Clown / sim: 0.4670 / url: https://www.imdb.com/title/tt9266592/?ref_=fn_al_tt_1
title: Squid Game / sim: 0.4654 / url: https://www.imdb.com/title/tt10919420/?ref_=fn_al_tt_1
title: It's Okay to Not Be Okay / sim: 0.4609 / url: https://www.imdb.com/title/tt12451520/?ref_=fn_al_tt_1